<p style="color: green"><%= notice %></p>

<% content_for :title, "Historias de Gatos" %>

<h1 class="text-center my-5">Historias de Gatos</h1>

<div class="mb-5 d-flex justify-content-end">
  <% if user_signed_in? %>
    <%= link_to "Crear una Historia", new_post_path, class:"btn btn-secondary btn-sm" %>
  <% end %>
</div>


<div class="row">
  <% @posts.each do |post| %>
    <div class="card col-md-4 mb-4">
     <div class="card-body">
        <h5 class="card-title text-center"><%= post.title %></h5>
        <br>
        <p class="card-text"><%= truncate(post.content, length: 100) %></p>
      </div>
      <div class="card-footer text-center">
          <%= link_to "Ver esta Historia", post_path(post), class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <% if user_signed_in? %>
    <%= link_to "Crear una Historia", new_post_path, class:"btn btn-secondary btn-sm" %>
  <% end %>
</div>
